*{
    margin: 0;
    padding: 0;
}

/* NAVEGADOR */

.navegador{
    background-color: orangered;
}

.navegador .items {
    color:whitesmoke;
    font-weight: bold;
  }

  .navegador .navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
    font-size: 25px;
  }


/* MAIN */
.container-main {
    height: 100vh;
    min-height:500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


  }


/* FOOTER */
footer {
    background-color: #303030;
    color: white;
    padding: 10px;
  }
  
footer .footer-flex {
display: flex;
justify-content: center;
}
  
footer h4{
      font-size: 20px;
    }

/*--- inicio--*/
 
 
.content{
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 75px;
  background-image: url(https://s3.abcstatics.com/media/bienestar/2021/09/09/ENTRENAMIENTO-ku9E--620x349@abc.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
}
 
		
   h1{
    font-family: fantasy;
    -webkit-text-stroke: 1px white;
   }
p{
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.7px black;
  
}
h2{
  -webkit-text-stroke: 1px white;
  padding: 10px;
}
.div2 {
 background-color: orangered;
 background-size: cover;
 
}
.container-options{
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

}
.container-options .options{
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2 );
  overflow: hidden;
  margin: 50px;
  text-align: center;
  transition: all 0.25s ;
}
.container-options .options:hover{
  transform: translateY(-15px);
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
}
.container-options .options img{
  width: 330px;
  height: 420px;

}

.container-options .options a{
  text-decoration: none;
}