*{
    margin: 0;
    padding: 0;
}

/* NAVEGADOR */

.navegador{
    background-color: orangered;
}

.navegador .items {
    color:whitesmoke;
    font-weight: bold;
  }

  .navegador .navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
    font-size: 25px;
  }


/* MAIN */
.container-main {
    height: 100vh;
    min-height:500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


  }


/* FOOTER */
footer {
    background-color: #303030;
    color: white;
    padding: 10px;
  }
  
footer .footer-flex {
display: flex;
justify-content: center;
}
  
footer h4{
      font-size: 20px;
    }

    h1 {
      font-weight: bold;
      font-size: 30px;
      font-weight: bond;
      letter-spacing:2px ;
      border: 30px;
      padding: 20px;
   }
   #header img {
    width: 80px ;
    height: 80px;
    float: right; 
    padding: 20px 20px 50px 20px;
  }
  #header ul a {
    text-decoration: none;
  
  } 
  
  #content 
  {	
    background: blanchedalmond;
    font-weight: bold;
    
  }
  #content p1 {
    display: flex;
    float: left;
    background:blanchedalmond;
    
  }
  .img {
    float: right;
    background:blanchedalmond;
    margin-left: 10px ;
    padding: 20px 20px 20px 20px;
  } 
  .container-main {
    background: blanchedalmond;
  }
		