*{
    margin: 0;
    padding: 0;
}

/* NAVEGADOR */

.navegador{
    background-color: orangered;
}

.navegador .items {
    color:whitesmoke;
    font-weight: bold;
  }

  .navegador .navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
    font-size: 25px;
  }


/* MAIN */
.container-main {
    height: 100vh;
    min-height:500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  h1{ font-style:italic;
    margin-left: 16cm ;
    color:orange}
h2{ background-color: orangered;
    margin-left: 0cm;
    color: whitesmoke;   
}
li{font-weight: bolder;
    margin-left: 1cm;
    color: black}
label{font-weight: bolder;
    margin-left: 15cm;
    color:orangered}
button{font-weight: bold ;
margin-left: 18cm;}
p{font-weight: bold;
    color: black;}

/* FOOTER */
footer {
    background-color: white;
    color: white;
    padding: 10px;
  }
  
footer .footer-flex {
display: flex;
justify-content: center;
}
  
footer h4{
      font-size: 20px;
    }
